.pnlm-container {
  background: none
}

.pnlm-load-box p, .pnlm-lbar, .pnlm-lmsg{
  display: none;
}

.pnlm-panorama-info {
  background-color: rgba(0,0,0,0.5);
  padding: 50px;
  width: 100%;
  bottom: 0px;
  animation: fadeIn 3s ease-out forwards, fadeOut 3s forwards 3s;
}

.swal2-modal {
  max-width: 50%
}

.swal2-popup {
  max-width: 50% !important
}

@keyframes fadeOut {
  0% {opacity: 1; width: 100%;}
  100% {opacity: 0; width: 0%;}
}

@keyframes fadeIn {
  0% {width: 0%;}
  100% {width: 100%;}
}