#outside {
  animation: fadeOutside 2s ease-out;
}

#reception {
  animation: fadeReception 2s ease-out;
}

#hall {
  animation: fadeHall 2s ease-out;
}

#myDil {
  animation: fadeMyDil 2s ease-out;
}

#cafeteria {
  animation: fadeCafeteria 2s ease-out;
}

#hallway {
  animation: fadeHallway 2s ease-out;
}

@keyframes fadeOutside {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes fadeReception {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes fadeHall {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes fadeMyDil {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes fadeCafeteria {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes fadeHallway {
  0% {opacity: 0; }
  100% {opacity: 1; }
}

@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}