.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.door .in {
  background: url('../src/assets/img/icons/door.png');
  background-size: contain;
}

.arrow .in {
  background: url('../src/assets/img/icons/arrow.png');
  background-size: contain;
}

.info .in {
  background: url('../src/assets/img/icons/info.png');
  background-size: contain;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
